<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>openClassRoomJEE</display-name>
  <servlet>
    <servlet-name>upFileSrv</servlet-name>
    <servlet-class>com.src.srv.upFileSrv</servlet-class>
    <multipart-config>
      <location>E:/finga/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>upFileSrv</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>traductionToDb</servlet-name>
    <servlet-class>com.src.srv.traductionToDb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>traductionToDb</servlet-name>
    <url-pattern>/traduced</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toDbSend</servlet-name>
    <servlet-class>com.src.srv.toDbSend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toDbSend</servlet-name>
    <url-pattern>/dbgetsend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downFileSrv</servlet-name>
    <servlet-class>com.src.srv.downFileSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downFileSrv</servlet-name>
    <url-pattern>/fileDown</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/jstlCall/callJstl.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>